{% load static %}
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <!--begin::Sidebar Brand-->
    <div class="sidebar-brand">
      <!--begin::Brand Link-->
      <a href="{% url 'home-url' %}" class="brand-link">
        <!--begin::Brand Image-->
        <img
          src="{% static 'lib/adminlte-4.0/assets/img/logo_empresa.jpg' %}"
          alt="AdminLTE Logo"
          class="brand-image opacity-75 shadow"
          style="border-radius: 50px;"
        />
        <!--end::Brand Image-->
        <!--begin::Brand Text-->
        <span class="brand-text fw-light">Distribuidor Gallardo</span>
        <!--end::Brand Text-->
      </a>
      <!--end::Brand Link-->
    </div>
    <!--end::Sidebar Brand-->
    <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
      <nav class="mt-2">
        <!--begin::Sidebar Menu-->
        <ul
          class="nav sidebar-menu flex-column"
          data-lte-toggle="treeview"
          role="menu"
          data-accordion="false"
        >
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-cart-check"></i>
              <p>
                Ventas
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'get_all_ventas' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Ver Ventas</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'create_venta' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Nueva Venta</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-bag"></i>
              <p>
                Compras
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'get_all_compras' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Ver Compras</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'create_compra' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Nueva Compra</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-credit-card"></i>
              <p>
                Finanzas
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'registrar-ingresos-url' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Registrar Ingreso</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'registrar-egresos-url' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Registrar Egreso</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-credit-card"></i>
              <p>
                Cartera
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'get_all_cuentas_por_cobrar' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Cuentas por Cobrar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'get_all_cuentas_por_pagar' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Cuentas por Pagar</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-box"></i>
              <p>
                Inventario
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'get_all_productos' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Ver Inventario</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'create_producto' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Nuevo Producto</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-people-fill"></i>
              <p>
                Terceros
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'get_all_terceros' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Ver Terceros</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'create_tercero' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Nuevo Tercero</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-currency-dollar"></i>
              <p>
                Balance
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'get_all_ingresos' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Ingresos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'get_all_egresos' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Egresos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'balance-url' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Ver Balance</p>
                </a>
              </li>
            </ul>
          </li>
          
          {% if request.user.is_superuser %}
          <li class="nav-header">ADMINISTRACIÓN</li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-database-fill-gear"></i>
              <p>
                Rectificar
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'admin:auth_user_changelist' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle text-info"></i>
                  <p>Empleados</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'admin:compras_compra_changelist' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle text-info"></i>
                  <p>Compras</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'admin:compras_productoscomprados_changelist' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle text-info"></i>
                  <p>Productos Comprados</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'admin:egresos_egreso_changelist' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle text-info"></i>
                  <p>Egresos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'admin:ingresos_ingreso_changelist' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle text-info"></i>
                  <p>Ingresos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'admin:productos_producto_changelist' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle text-info"></i>
                  <p>Productos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'admin:terceros_tercero_changelist' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle text-info"></i>
                  <p>Terceros</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'admin:ventas_venta_changelist' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle text-info"></i>
                  <p>Ventas</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'admin:ventas_productosvendidos_changelist' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle text-info"></i>
                  <p>Productos Vendidos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'admin:cuentasporcobrar_cuentaporcobrar_changelist' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle text-info"></i>
                  <p>Cuentas por Cobrar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'admin:cuentasporpagar_cuentaporpagar_changelist' %}" class="nav-link">
                  <i class="nav-icon bi bi-circle text-info"></i>
                  <p>Cuentas por Pagar</p>
                </a>
              </li>
            </ul>
          </li>
          {% endif %}
        </ul>
        <!--end::Sidebar Menu-->
      </nav>
    </div>
    <!--end::Sidebar Wrapper-->
  </aside>