{% extends 'base/base_adminlte.html' %}
{% load static %}

{% block title %} Nueva Cuenta Por Pagar {% endblock %}

{% block extra_head %}
<!-- Estilos de jQuery UI -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Nueva Cuenta Por Pagar</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="fecha">Fecha</label>
            <input type="date" name="fecha" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="tercero_nombre">Tercero</label>
            <input type="text" id="tercero_nombre" class="form-control" placeholder="Buscar tercero..." required>
            <input type="hidden" name="tercero" id="tercero_id"> <!-- Campo oculto para enviar el ID -->
        </div>

        <div class="form-group">
            <label for="valor">Compra</label>
            <input type="text" name="compra" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="usuario">Saldo</label>
            <input type="number" step="0.01" name="saldo" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="valor">Usuario</label>
            <input type="text" name="usuario" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="metodo_de_pago">Estado</label>
            <select name="estado" class="form-control" required>
                <option value="PENDIENTE">Pendiente</option>
                <option value="PAGADO">Pagado</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-4">Crear Cuenta Por Pagar</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(document).ready(function() {
        $("#tercero_nombre").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "{% url 'get_tercero_by_name_din' %}",
                    dataType: "json",
                    data: {
                        term: request.term  // Parámetro de búsqueda
                    },
                    success: function(data) {
                        response($.map(data, function(item) {
                            return {
                                label: item.text,
                                value: item.text,
                                id: item.id
                            };
                        }));
                    }
                });
            },
            minLength: 2,  // Iniciar búsqueda después de 2 caracteres
            select: function(event, ui) {
                $("#tercero_id").val(ui.item.id);  // Guardar el ID en el campo oculto
            }
        });
    });
</script>
{% endblock %}
