{% extends 'base/base_adminlte.html' %}
{% load static %}

{% block title %} Cuentas por Cobrar {% endblock %}

{% block extra_head %}
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    /* Título */
    h1 {
        font-size: 36px; /* Tamaño un poco más grande */
        font-weight: bold;
        color: #333;
        margin-top: 20px; /* Mayor separación desde arriba */
        margin-bottom: 20px;
        text-align: left;
    }

    /* Filtros */
    .filtros {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px;
        border-radius: 6px;
    }

    .filtros label {
        font-weight: bold;
    }

    .filtros input, .filtros button {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    .filtros button {
        background: #007bff;
        color: white;
        cursor: pointer;
        transition: 0.3s;
    }

    .filtros button:hover {
        background: #0056b3;
    }

    /* Tabla */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
        background: white;
        border-radius: 6px;
        overflow: hidden;
    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background: #007bff;
        color: white;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background: #f9f9f9;
    }

    /* Íconos */
    .actions a {
        text-decoration: none;
        font-size: 18px;
        margin-right: 10px;
    }

    .actions .edit {
        color: #007bff;
    }

    .actions .delete {
        color: #ff4d4d;
    }

    .actions a:hover {
        opacity: 0.7;
    }

    /* Paginación */
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .pagination a {
        padding: 8px 12px;
        margin: 0 5px;
        text-decoration: none;
        background: #007bff;
        color: white;
        border-radius: 4px;
        font-size: 14px;
        transition: 0.3s;
    }

    .pagination a:hover {
        background: #0056b3;
    }

    /* Contenedor de filtros */
    .filtros-container {
        display: flex;
        gap: 15px;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    /* Formularios de filtros */
    .filtros {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-radius: 6px;
        flex-grow: 1;
    }

    /* Inputs y botones */
    .filtros input, .filtros button {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    .filtros button {
        background: #007bff;
        color: white;
        cursor: pointer;
        transition: 0.3s;
        border: none;
        font-weight: bold;
    }

    .filtros button:hover {
        background: #0056b3;
    }

    /* Estilos para el modal de venta */
    /* Estilos del modal de ventas */

    .cuenta_por_cobrar-modal .modal-content {
        background: #fff;
        width: 70%;
        max-width: 800px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        animation: fadeIn 0.3s ease-in-out;
        position: relative; /* Asegura que el contenido del modal esté posicionado correctamente */
        margin: auto; /* Centra el modal horizontalmente */
        top: 50%; /* Centra el modal verticalmente */
        transform: translateY(-50%); /* Ajusta la posición vertical */
    }


    /* Encabezado del modal */
    .venta-modal {
        display: none; /* Ocultar el modal inicialmente */
        position: fixed;
        z-index: 1050;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .venta-modal .modal-content {
        background: #fff;
        width: 70%;
        max-width: 800px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        animation: fadeIn 0.3s ease-in-out;
        position: relative; /* Asegura que el contenido del modal esté posicionado correctamente */
        margin: auto; /* Centra el modal horizontalmente */
        top: 50%; /* Centra el modal verticalmente */
        transform: translateY(-50%); /* Ajusta la posición vertical */
    }


    /* Encabezado del modal */
    .venta-modal .modal-header {
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center;
        border-bottom: 2px solid #007bff;
        padding-bottom: 10px;
        margin-bottom: 20px;
        position: relative; /* Permite posicionar el botón de cierre */
    }

    .venta-modal .modal-header h5 {
        font-size: 26px;
        font-weight: bold;
        color: #007bff;
        margin: 0;
        flex-grow: 1; /* Hace que ocupe el espacio disponible */
        text-align: center;
    }

    .venta-modal .close-modal {
        position: absolute;
        right: 10px; /* Asegura que el botón de cierre se mantenga en su lugar */
        top: 50%;
        transform: translateY(-50%);
    }


    /* Contenido del modal */
    .venta-modal .modal-body {
        font-size: 18px;
        line-height: 1.6;
        color: #444;
    }

    .venta-modal .modal-body p {
        margin-bottom: 12px;
    }

    .venta-modal .modal-body p strong {
        color: #222;
    }

    .venta-modal .modal-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding-top: 15px;
        border-top: 1px solid #ccc;
        font-size: 16px;
        color: #555;
    }

    .venta-modal .modal-footer .left{
        text-align: left;
    }


    .cobrar-modal .modal-content {
        background: #fff;
        width: 80%; /* Cambiado de 70% a 80% */
        max-width: 900px; /* Cambiado de 800px a 900px */
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        animation: fadeIn 0.3s ease-in-out;
        position: relative;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
    }

    .cobrar-modal .modal-header {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #007bff;
        padding-bottom: 10px;
        margin-bottom: 20px;
        position: relative;
    }

    .cobrar-modal .modal-header h5 {
        font-size: 26px;
        font-weight: bold;
        color: #007bff;
        margin: 0;
        flex-grow: 1;
        text-align: center;
    }

    .cobrar-modal .close-modal {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .cobrar-modal .modal-body {
        font-size: 18px;
        line-height: 1.6;
        color: #444;
    }

    .cobrar-modal .modal-body p {
        margin-bottom: 12px;
    }

    .cobrar-modal .modal-body p strong {
        color: #222;
    }

    .cobrar-modal .modal-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding-top: 15px;
        border-top: 1px solid #ccc;
        font-size: 16px;
        color: #555;
    }

    .cobrar-modal .modal-footer .left {
        text-align: left;
    }

    .cobrar-modal .modal-footer .right {
        text-align: right;
    }

    /* Estilos para la lista de ingresos */
    .venta-modal .modal-body ul {
        list-style-type: none; /* Elimina los puntos de la lista */
        padding: 0;
        margin: 0;
        border: 1px solid #ddd;
        border-radius: 6px;
        overflow: hidden;
        background: #f9f9f9;
    }

    .venta-modal .modal-body ul li {
        padding: 12px;
        border-bottom: 1px solid #ddd;
        font-size: 16px;
        color: #444;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background 0.3s ease;
    }

    .venta-modal .modal-body ul li:last-child {
        border-bottom: none; /* Elimina el borde inferior del último elemento */
    }

    .venta-modal .modal-body ul li:hover {
        background: #f1f1f1; /* Efecto hover para cada elemento de la lista */
    }

    .venta-modal .modal-body ul li a.btn {
        padding: 6px 12px;
        font-size: 14px;
        background: #007bff;
        color: white;
        border-radius: 4px;
        text-decoration: none;
        transition: background 0.3s ease;
    }

    .venta-modal .modal-body ul li a.btn:hover {
        background: #0056b3; /* Efecto hover para el botón */
    }

    /* Estilos para el mensaje cuando no hay ingresos */
    .venta-modal .modal-body p.no-ingresos {
        font-size: 16px;
        color: #777;
        text-align: center;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 6px;
        background: #f9f9f9;
    }
</style>
{% endblock %}

{% block content %}
<h1>Cuentas por Cobrar</h1>

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" id="success-message" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="filtros-container">
    <form method="get" action="{% url 'get_all_cuentas_por_cobrar' %}" class="filtros">
        <label for="fecha_inicio">Desde:</label>
        <input type="date" id="fecha_inicio" name="fecha_inicio" value="{{ request.GET.fecha_inicio }}">

        <label for="fecha_fin">Hasta:</label>
        <input type="date" id="fecha_fin" name="fecha_fin" value="{{ request.GET.fecha_fin }}">

        <button type="submit">Buscar</button>
        <button type="button" id="limpiar-fecha">Limpiar</button>
    </form>

    <!-- Filtro por cliente -->
    <form method="get" action="{% url 'get_all_cuentas_por_cobrar' %}" class="filtros">
        <label for="tercero">Buscar por Tercero:</label>
        <input type="text" id="tercero" name="tercero" value="{{ request.GET.tercero }}" placeholder="Nombre del tercero">

        <button type="submit">Buscar</button>
        <button type="button" id="limpiar-tercero">Limpiar</button>
    </form>
</div>
{% if saldo_por_tercero %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Tercero</th>
            <th>Saldo Pendiente</th>
        </tr>
    </thead>
    <tbody>
        {% for saldo_pendiente in saldo_por_tercero %}
            <tr>
                <td>
                    {{ saldo_pendiente.tercero__nombre }}
                </td>
                <td>
                    ${{ saldo_pendiente.total_saldo }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Tercero</th>
        <th>Saldo</th>
        <th>Estado</th>
        <th>Ver</th>
        <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
    {% for cuenta_por_cobrar in cuentas_por_cobrar %}
    <tr>
        <td>{{cuenta_por_cobrar.id}}</td>
        <td>{{ cuenta_por_cobrar.fecha|date:"d/m/Y" }}</td>
        {% if cuenta_por_cobrar.tercero %}
        <td>{{ cuenta_por_cobrar.tercero.nombre }}</td>
        {% else %}
        <td>Sin tercero disponible</td>
        {% endif %}
        <td class="saldo">${{ cuenta_por_cobrar.saldo }}</td>
        <td>{{ cuenta_por_cobrar.estado|capfirst }}</td>

        <!-- Columna Ver: abre el modal con todos los datos -->
        <td class="actions">
            <a href="#cuentaModal{{ cuenta_por_cobrar.id }}" class="view btn-ver-cuenta" data-id="{{ cuenta_por_cobrar.id }}">
                <i class="fi fi-rr-eye"></i>
            </a>
        </td>

        <!-- Columna Eliminar -->
        <td>
            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal{{ cuenta_por_cobrar.id }}">
                <i class="fi fi-rs-trash-can-slash"></i>
            </a>
        </td>
    </tr>

    <!-- Modal Ver Detalles de la Cuenta por Cobrar -->
    <div class="modal venta-modal" id="cuentaModal{{ cuenta_por_cobrar.id }}">
        <div class="modal-content">
            <div class="modal-header">
                <h5><p><strong>Cuenta por Cobrar N°</strong> {{ cuenta_por_cobrar.id }}</p></h5>
            </div>
            <div class="modal-body">
                <p><strong>Fecha:</strong> {{ cuenta_por_cobrar.fecha|date:"d/m/Y" }}</p>
                {% if cuenta_por_cobrar.tercero %}
                <p><strong>Tercero:</strong> {{ cuenta_por_cobrar.tercero.nombre }}</p>
                {% else %}
                <p><strong>Tercero:</strong>Sin tercero disponible</p>
                {% endif %}
                <p class="actions">
                    <strong>Venta:</strong>
                    {% if cuenta_por_cobrar.venta.id %}
                    <a href="#ventaModal{{ cuenta_por_cobrar.venta.id }}" class="view btn-ver-venta" data-id="{{ cuenta_por_cobrar.venta.id }}">
                        Ver Venta
                    </a>
                    {% else %}
                    No asignada
                    {% endif %}
                </p>
                <p><strong>Saldo:</strong> <span class="saldo">{{ cuenta_por_cobrar.saldo }}</span></p>
                <p><strong>Estado:</strong> {{ cuenta_por_cobrar.estado|capfirst }}</p>

                <p><strong>Ingresos:</strong></p>
                {% if cuenta_por_cobrar.ingresos.all %}
                <ul>
                    {% for ingreso in cuenta_por_cobrar.ingresos.all %}
                    <li class="actions">
                        {{ ingreso.fecha|date:"d/m/Y" }} - ${{ ingreso.valor }} - {{ ingreso.metodo_de_pago }}
                        <a href="#ingresoModal{{ ingreso.id }}" class="view btn-ver-ingresos" data-id="{{ ingreso.id }}">Ver Ingreso</a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="no-ingresos">No hay ingresos registrados.</p>
                {% endif %}

                <!-- Botón Cobrar -->
                {% if cuenta_por_cobrar.saldo > 0 %}
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#cobrarModal{{ cuenta_por_cobrar.id }}">
                    Cobrar
                </button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal{{ cuenta_por_cobrar.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ cuenta_por_cobrar.id }}" aria-hidden="true" data-bs-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel{{ cuenta_por_cobrar.id }}">Confirmar eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar la cuenta por cobrar?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <form action="{% url 'delete_cuenta_por_cobrar' cuenta_por_cobrar.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Cobrar -->
    <div class="modal fade" id="cobrarModal{{ cuenta_por_cobrar.id }}" tabindex="-1" aria-labelledby="cobrarModalLabel{{ cuenta_por_cobrar.id }}" aria-hidden="true" data-bs-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cobrarModalLabel{{ cuenta_por_cobrar.id }}">Saldo de la cuenta por cobrar ${{ cuenta_por_cobrar.saldo}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'create_ingreso' cuenta_por_cobrar.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="fecha">Fecha de Cobro</label>
                            <input type="date" name="fecha" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="valor">Valor del Cobro</label>
                            <input type="number" step="0.01" name="valor" class="form-control" required oninput="validarCobro(this, {{ cuenta_por_cobrar.saldo }}, {{ cuenta_por_cobrar.id }})">
                            <small id="errorCobro{{ cuenta_por_cobrar.id }}" class="text-danger" style="display: none;">
                                El cobro no puede ser mayor al saldo de la cuenta por cobrar.
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="metodo_de_pago">Método de Pago</label>
                            <select name="metodo_de_pago" class="form-control" required>
                                <option value="EFECTIVO">Efectivo</option>
                                <option value="TRANSFERENCIA">Transferencia</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success btn-block mt-4">Registrar Cobro</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para ver detalles de la venta -->
    <div class="modal venta-modal" id="ventaModal{{ cuenta_por_cobrar.venta.id }}">
        <div class="modal-content">
            <div class="modal-header">
                <h5><p><strong>Venta N°</strong> {{ cuenta_por_cobrar.venta.id }}</p></h5>
            </div>
            <div class="modal-body">
                <p><strong>Fecha:</strong> {{ cuenta_por_cobrar.venta.fecha|date:"d/m/Y" }}</p>
                {% if cuenta_por_cobrar.venta.tercero %}
                <p><strong>Tercero:</strong> {{ cuenta_por_cobrar.venta.tercero.nombre }}</p>
                {% else %}
                <p><strong>Tercero:</strong>Sin tercero disponible</p>
                {% endif %}
                {% if cuenta_por_cobrar.venta.descripcion %}
                <p><strong>Descripción:</strong> {{ cuenta_por_cobrar.venta.descripcion }}</p>
                {% else %}
                <p><strong>Descripción:</strong> Sin descripción disponible</p>
                {% endif %}
                <!-- Lista de productos -->
                <p><strong>Productos vendidos:</strong></p>
                {% if cuenta_por_cobrar.venta.productos_vendidos.all %}
                <ul>
                    {% for producto_vendido in cuenta_por_cobrar.venta.productos_vendidos.all %}
                    <li class="actions">
                    <span>
                        <strong>Nombre:</strong> {{ producto_vendido.producto.nombre }} |
                        <strong>Valor Unitario:</strong> ${{ producto_vendido.valor_unitario|floatformat:2 }} |
                        <strong>Cantidad:</strong> {{ producto_vendido.cantidad }} |
                        <strong>Valor Total:</strong> ${{ producto_vendido.valor_total|floatformat:2 }}
                    </span>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No hay productos asociados a esta venta.</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <div class="left-info">
                    <p><strong>Creado por:</strong> {{ cuenta_por_cobrar.venta.creado_por.username|default:"-" }}</p>
                    <p><strong>Fecha de Creación:</strong> {{ cuenta_por_cobrar.venta.fecha_creacion|date:"d/m/Y" }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Ingreso -->
    {% for ingreso in cuenta_por_cobrar.ingresos.all %}
    <div class="modal venta-modal" id="ingresoModal{{ ingreso.id }}">
        <div class="modal-content">
            <div class="modal-header">
                <h5><p><strong>Ingreso N°</strong> {{ ingreso.id }}</p></h5>
            </div>
            <div class="modal-body">
                <p><strong>Fecha:</strong> {{ ingreso.fecha|date:"d/m/Y" }}</p>
                {% if ingreso.tercero %}
                <p><strong>Tercero:</strong> Sin tercero disponible</p>
                {% else %}
                {% endif %}
                <p><strong>Valor:</strong> <span id="modal-valor">{{ ingreso.valor }}</span></p>
                <p><strong>Método de Pago:</strong> {{ ingreso.metodo_de_pago }}</span></p>

            </div>
            <div class="modal-footer">
                <div class="left-info">
                    <p><strong>Creado por:</strong> {{ ingreso.creado_por.username|default:"-" }}</p>
                    <p><strong>Fecha de Creación:</strong> {{ ingreso.fecha_creacion|date:"d/m/Y" }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% empty %}
    <tr>
        <td colspan="6" class="text-center">No hay cuentas por cobrar registradas.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<!-- Paginación -->
<nav>
    <ul class="pagination">
        {% if cuentas_por_cobrar.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">Primero</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ cuentas_por_cobrar.previous_page_number }}">Anterior</a></li>
        {% endif %}

        <li class="page-item disabled"><a class="page-link">Página {{ cuentas_por_cobrar.number }} de {{ cuentas_por_cobrar.paginator.num_pages }}</a></li>

        {% if cuentas_por_cobrar.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ cuentas_por_cobrar.next_page_number }}">Siguiente</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ cuentas_por_cobrar.paginator.num_pages }}">Último</a></li>
        {% endif %}
    </ul>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    document.querySelectorAll('[data-bs-toggle="modal"]').forEach(item => {
        item.addEventListener('click', event => {
            const targetModal = document.querySelector(item.getAttribute('data-bs-target'));
            targetModal.style.display = 'block';
        });
    });

    document.querySelectorAll('.close').forEach(item => {
        item.addEventListener('click', event => {
            const modal = item.closest('.modal');
            modal.style.display = 'none';
        });
    });

    window.onclick = function(event) {
        if (event.target.classList.contains('modal')) {
            event.target.style.display = 'none';
        }
    }

    function validarCobro(input, saldo, id) {
        let errorMsg = document.getElementById('errorCobro' + id);
        let valor = parseFloat(input.value);

        if (isNaN(valor) || valor <= 0) {
            errorMsg.textContent = "El cobro debe ser mayor a 0.";
            errorMsg.style.display = 'block';
            input.setCustomValidity('El cobro debe ser mayor a 0.');
        } else if (valor > saldo) {
            errorMsg.textContent = "El cobro no puede ser mayor al saldo.";
            errorMsg.style.display = 'block';
            input.setCustomValidity('El cobro no puede ser mayor al saldo.');
        } else {
            errorMsg.style.display = 'none';
            input.setCustomValidity('');
        }
    }

    document.querySelectorAll('form').forEach(form => {
        form.addEventListener('submit', function (event) {
            let input = form.querySelector('input[name="valor"]');
            if (!input.checkValidity()) {
                event.preventDefault(); // Evita el envío si hay error
            }
        });
    });

    $(document).ready(function () {
        function cargarCuentasPorCobrar() {
            let tercero = $("#tercero").val();
            let fecha_inicio = $("#fecha_inicio").val();
            let fecha_fin = $("#fecha_fin").val();

            $.ajax({
                url: "{% url 'get_all_cuentas_por_cobrar' %}",
                data: {
                    tercero: tercero,
                    fecha_inicio: fecha_inicio,
                    fecha_fin: fecha_fin
                },
                success: function (data) {
                    let newTable = $(data).find("#cuentas_por_cobrar-body").html();
                    $("#cuentas_por_cobrar-body").html(newTable);
                }
            });
        }

        // Buscar mientras escribe
        $("#tercero").on("input", function () {
            cargarCuentasPorCobrar();
        });

        // Si se borra el nombre del cliente, se recargan todas las cuentas por cobrar
        $("#tercero").on("keyup", function () {
            if ($(this).val().trim() === "") {
                cargarCuentasPorCobrar();
            }
        });

        // Limpiar búsqueda de tercero
        $("#limpiar-tercero").click(function () {
            $("#tercero").val("");
            window.location.href = "{% url 'get_all_cuentas_por_cobrar' %}";
        });

        // Limpiar búsqueda por fecha
        $("#limpiar-fecha").click(function () {
            $("#fecha_inicio").val("");
            $("#fecha_fin").val("");
            window.location.href = "{% url 'get_all_cuentas_por_cobrar' %}";
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".btn-ver-cuenta").forEach(button => {
            button.addEventListener("click", function (event) {
                event.preventDefault();

                let cuentaId = this.getAttribute("data-id");
                let modal = document.getElementById(`cuentaModal${cuentaId}`);

                if (modal) {
                    modal.style.display = "block";
                }
            });
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".btn-ver-ingresos").forEach(button => {
            button.addEventListener("click", function (event) {
                event.preventDefault();

                let cuentaId = this.getAttribute("data-id");
                let modal = document.getElementById(`ingresoModal${cuentaId}`);

                if (modal) {
                    modal.style.display = "block";
                }
            });
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".btn-ver-venta").forEach(button => {
            button.addEventListener("click", function (event) {
                event.preventDefault();

                // Obtener el ID de la venta desde el botón
                let ventaId = this.getAttribute("data-id");

                // Calcular la cantidad para este modal específico
                calcularCantidad(ventaId);

                // Mostrar el modal
                let modal = document.getElementById(`ventaModal${ventaId}`);
                if (modal) {
                    modal.style.display = "block";
                }
            });
        });

        // Función para calcular la cantidad
        function calcularCantidad(ventaId) {
            const valorUnitarioElement = document.getElementById(`modal-valor-unitario-${ventaId}`);
            const valorTotalElement = document.getElementById(`modal-valor-total-${ventaId}`);
            const cantidadElement = document.getElementById(`modal-cantidad-${ventaId}`);

            if (valorUnitarioElement && valorTotalElement && cantidadElement) {
                let valorUnitario = parseFloat(valorUnitarioElement.textContent) || 0;
                let valorTotal = parseFloat(valorTotalElement.textContent) || 0;

                // Calcular la cantidad
                let cantidad = valorUnitario !== 0 ? (valorTotal / valorUnitario) : 0;
                cantidadElement.textContent = cantidad; // Mostrar con 2 decimales
            }
        }
    });

    // Cerrar el modal si se hace clic fuera del contenido
    document.querySelectorAll(".venta-modal").forEach(modal => {
        modal.addEventListener("click", function (event) {
            if (event.target === this) {
                this.style.display = "none";
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        function formatCurrency(value) {
            return value.toFixed(2).replace(".", ",");
        }

        // Formatear los saldos en la tabla
        document.querySelectorAll(".saldo").forEach(function (element) {
            let saldo = parseFloat(element.textContent.replace("$", "").trim());
            if (!isNaN(saldo)) {
                saldo = saldo.toFixed(2);  // Forzar dos decimales
                element.textContent = formatCurrency(saldo);
            }

            // Formatear el saldo en el modal
            let modalValor = document.getElementById("modal-valor");
            if (modalValor) {
                let valor = parseFloat(modalValor.textContent.replace("$", "").trim());
                if (!isNaN(valor)) {
                    modalValor.textContent = formatCurrency(saldo);
                }
            }
        });
    });

    $(document).ready(function () {
        setTimeout(function () {
            $(".alert-success").fadeOut(500);
        }, 3000); // 3 segundos
    });
</script>

{% endblock %}