{% extends 'base/base_adminlte.html' %}
{% load static %}

{% block title %} Ventas {% endblock %}

{% block extra_head %}
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
<style>
/* Estilo general */
body {
font-family: 'Arial', sans-serif;
background-color: #f0f0f0;
margin: 0;
padding: 0;
}

/* Título */
h1 {
    font-size: 36px; /* Tamaño un poco más grande */
    font-weight: bold;
    color: #333;
    margin-top: 20px; /* Mayor separación desde arriba */
    margin-bottom: 20px;
    text-align: left;
}

/* Filtros */
.filtros {
display: flex;
align-items: center;
gap: 15px;
padding: 10px;
border-radius: 6px;
}

.filtros label {
font-weight: bold;
}

.filtros input, .filtros button {
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
font-size: 14px;
}

.filtros button {
background: #007bff;
color: white;
cursor: pointer;
transition: 0.3s;
}

.filtros button:hover {
background: #0056b3;
}

/* Tabla */
table {
width: 100%;
border-collapse: collapse;
margin-top: 15px;
background: white;
border-radius: 6px;
overflow: hidden;
}

th, td {
padding: 12px;
text-align: left;
border-bottom: 1px solid #ddd;
}

th {
background: #007bff;
color: white;
font-weight: bold;
}

tr:nth-child(even) {
background: #f9f9f9;
}

/* Íconos */
.actions a {
text-decoration: none;
font-size: 18px;
margin-right: 10px;
}

.actions .edit {
color: #007bff;
}

.actions .delete {
color: #ff4d4d;
}

.actions a:hover {
opacity: 0.7;
}

/* Paginación */
.pagination {
display: flex;
justify-content: center;
margin-top: 15px;
}

.pagination a {
padding: 8px 12px;
margin: 0 5px;
text-decoration: none;
background: #007bff;
color: white;
border-radius: 4px;
font-size: 14px;
transition: 0.3s;
}

.pagination a:hover {
background: #0056b3;
}

/* Contenedor de filtros */
.filtros-container {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

/* Formularios de filtros */
.filtros {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
    flex-grow: 1;
}

/* Inputs y botones */
.filtros input, .filtros button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.filtros button {
    background: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    font-weight: bold;
}

.filtros button:hover {
    background: #0056b3;
}

/* Estilos para el modal de venta */
/* Estilos del modal de ventas */
.venta-modal {
    display: none; /* Ocultar el modal inicialmente */
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.venta-modal .modal-content {
    background: #fff;
    width: 70%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    animation: fadeIn 0.3s ease-in-out;
    position: relative; /* Asegura que el contenido del modal esté posicionado correctamente */
    margin: auto; /* Centra el modal horizontalmente */
    top: 50%; /* Centra el modal verticalmente */
    transform: translateY(-50%); /* Ajusta la posición vertical */
}


/* Encabezado del modal */
.venta-modal .modal-header {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative; /* Permite posicionar el botón de cierre */
}

.venta-modal .modal-header h5 {
    font-size: 26px;
    font-weight: bold;
    color: #007bff;
    margin: 0;
    flex-grow: 1; /* Hace que ocupe el espacio disponible */
    text-align: center;
}

.venta-modal .close-modal {
    position: absolute;
    right: 10px; /* Asegura que el botón de cierre se mantenga en su lugar */
    top: 50%;
    transform: translateY(-50%);
}


/* Contenido del modal */
.venta-modal .modal-body {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
}

.venta-modal .modal-body p {
    margin-bottom: 12px;
}

.venta-modal .modal-body p strong {
    color: #222;
}

/* Footer del modal */
.venta-modal .modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #ccc;
    font-size: 16px;
    color: #555;
}

.venta-modal .modal-footer .left {
    text-align: left;
}

.venta-modal .modal-footer .right {
    text-align: right;
}

</style>
{% endblock %}

{% block content %}
<h1>Ventas</h1>

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" id="success-message" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<!-- Filtros -->
<!-- Filtros por fecha -->
<div class="filtros-container">
    <form method="get" action="{% url 'get_all_ventas' %}" class="filtros">
        <label for="fecha_inicio">Desde:</label>
        <input type="date" id="fecha_inicio" name="fecha_inicio" value="{{ request.GET.fecha_inicio }}">

        <label for="fecha_fin">Hasta:</label>
        <input type="date" id="fecha_fin" name="fecha_fin" value="{{ request.GET.fecha_fin }}">

        <button type="submit">Buscar</button>
    </form>

    <!-- Filtro por cliente -->
    <form method="get" action="{% url 'get_all_ventas' %}" class="filtros">
        <label for="tercero">Buscar por Cliente:</label>
        <input type="text" id="tercero" name="tercero" value="{{ request.GET.tercero }}" placeholder="Nombre del cliente">

        <button type="submit">Buscar</button>
    </form>
</div>
<!-- Tabla de Ventas -->
<table>
  <thead>
  <tr>
    <th>Fecha</th>
    <th>Tercero</th>
    <th>Producto</th>
    <th>Valor Unitario</th>
    <th>Cantidad</th>
    <th>Valor Total</th>
    <th>Descripción</th>
    <th>Ver</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>
  </thead>
    <tbody>
    {% if ventas %}
    {% for venta in ventas %}
    <tr>
        <td>{{ venta.fecha|date:"d/m/Y" }}</td>
        <td>{{ venta.tercero.nombre }}</td>
        <td>{{ venta.producto.nombre }}</td>
        <td class="valor-unitario">{{ venta.valor_unitario }}</td>
        <td class="cantidad-vendida"></td>
        <td class="valor-total">{{ venta.valor_total }}</td>
        <td>{{ venta.descripcion }}</td>

        <td class="actions">
            <a href="#viewModal{{ venta.id }}" class="view btn-ver" data-id="{{ venta.id }}">
                <i class="fi fi-rr-eye"></i>
            </a>
        </td>

        <td>
            <a href="#" data-bs-toggle="modal" data-bs-target="#editModal{{ venta.id }}">
                <i class="fi fi-rr-pencil"></i>
            </a>
        </td>
        <td>
            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal{{ venta.id }}">
                <i class="fi fi-rs-trash-can-slash"></i>
            </a>
        </td>
    </tr>

    <!-- Modal para ver detalles de la venta -->
    <div class="modal venta-modal" id="viewModal{{ venta.id }}">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Detalles de la Venta</h5>
            </div>
            <div class="modal-body">
                <p><strong>Fecha:</strong> {{ venta.fecha|date:"d/m/Y" }}</p>
                <p><strong>Tercero:</strong> {{ venta.tercero.nombre }}</p>
                <p><strong>Producto:</strong> {{ venta.producto.nombre }}</p>
                <p><strong>Valor Unitario:</strong> <span class="valor-unitario-modal">{{ venta.valor_unitario }}</span></p>
                <p><strong>Cantidad:</strong> <span class="cantidad-modal"></span></p>
                <p><strong>Valor Total:</strong> <span class="valor-total-modal">{{ venta.valor_total }}</span></p>
                <p><strong>Descripción:</strong> {{ venta.descripcion }}</p>
                <p>
                    <strong>Cuenta por Cobrar:</strong>
                    {% if venta.cuenta_por_cobrar.id %}
                    <a href="{% url 'get_cuenta_por_cobrar_by_id' venta.cuenta_por_cobrar.id %}" target="_blank">
                        Ver Cuenta por Cobrar
                    </a>
                    {% else %}
                    No asignada
                    {% endif %}
                </p>
            </div>
            <div class="modal-footer">
                <div class="left-info">
                    <p><strong>Creado por:</strong> {{ venta.creado_por.username|default:"-" }}</p>
                    <p><strong>Fecha de Creación:</strong> {{ venta.fecha_creacion }}</p>
                </div>
                <div class="right-info">
                    <p><strong>Editado por:</strong> {{ venta.editado_por.username|default:"-" }}</p>
                    <p><strong>Fecha de Edición:</strong> {{ venta.fecha_edicion|default:"-" }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal{{ venta.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ venta.id }}" aria-hidden="true" data-bs-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel{{ venta.id }}">Confirmar eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar la venta?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <form action="{% url 'delete_venta' venta.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="10" style="text-align: center; font-size: 18px; font-weight: bold; color: #777; padding: 15px;">
            No hay coincidencias para la búsqueda
        </td>
    </tr>
    {% endif %}
    </tbody>

</table>

<nav>
    <ul class="pagination">
        {% if ventas.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">Primero</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ ventas.previous_page_number }}">Anterior</a></li>
        {% endif %}

        <li class="page-item disabled"><a class="page-link">Página {{ ventas.number }} de {{ ventas.paginator.num_pages }}</a></li>

        {% if ventas.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ ventas.next_page_number }}">Siguiente</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ ventas.paginator.num_pages }}">Último</a></li>
        {% endif %}
    </ul>
</nav>

<!-- Script para manejar los modales -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  document.querySelectorAll('[data-bs-toggle="modal"]').forEach(item => {
    item.addEventListener('click', event => {
      const targetModal = document.querySelector(item.getAttribute('data-bs-target'));
      targetModal.style.display = 'block';
    });
  });

  document.querySelectorAll('.close').forEach(item => {
    item.addEventListener('click', event => {
      const modal = item.closest('.modal');
      modal.style.display = 'none';
    });
  });

  // Cerrar el modal al hacer clic fuera de él
  window.onclick = function (event) {
    if (event.target.classList.contains('modal')) {
      event.target.style.display = 'none';
    }
  }

  $(document).ready(function () {
    setTimeout(function () {
      $(".alert-success").fadeOut(500);
    }, 3000); // 3 segundos
  });

  document.addEventListener("DOMContentLoaded", function () {
      let rows = document.querySelectorAll("tbody tr"); // Seleccionar todas las filas de la tabla

      rows.forEach(row => {
          let valorTotalElement = row.querySelector(".valor-total");
          let valorUnitarioElement = row.querySelector(".valor-unitario");
          let cantidadVendidaElement = row.querySelector(".cantidad-vendida");

          let valorTotal = parseFloat(valorTotalElement.textContent) || 0;
          let valorUnitario = parseFloat(valorUnitarioElement.textContent) || 1;

          // Evitar divisiones por 0 y redondear hacia abajo
          let cantidadVendida = valorUnitario !== 0 ? Math.floor(valorTotal / valorUnitario) : 0;

          // Formatear números con coma en decimales
          let formatoMoneda = (valor) => `$${valor.toLocaleString("es-ES", { minimumFractionDigits: 2, maximumFractionDigits: 2 })}`;

          valorTotalElement.textContent = formatoMoneda(valorTotal);
          valorUnitarioElement.textContent = formatoMoneda(valorUnitario);
          cantidadVendidaElement.textContent = cantidadVendida;
      });
  });

  $(document).ready(function () {
      function cargarVentas() {
          let tercero = $("#tercero").val();
          let fecha_inicio = $("#fecha_inicio").val();
          let fecha_fin = $("#fecha_fin").val();

          $.ajax({
              url: "{% url 'get_all_ventas' %}",
              data: {
                  tercero: tercero,
                  fecha_inicio: fecha_inicio,
                  fecha_fin: fecha_fin
              },
              success: function (data) {
                  let newTable = $(data).find("#ventas-body").html();
                  $("#ventas-body").html(newTable);
              }
          });
      }

      // Buscar mientras escribe
      $("#tercero").on("input", function () {
          cargarVentas();
      });

      // Si se borra el nombre del cliente, se recargan todas las ventas
      $("#tercero").on("keyup", function () {
          if ($(this).val().trim() === "") {
              cargarVentas();
          }
      });
  });

  document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll(".btn-ver").forEach(button => {
          button.addEventListener("click", function (event) {
              event.preventDefault();

              let ventaId = this.getAttribute("data-id");
              let modal = document.getElementById(`viewModal${ventaId}`);

              let row = this.closest("tr");

              // Obtener los valores directamente del texto
              let valorTotalText = row.querySelector(".valor-total").textContent.trim();
              let valorUnitarioText = row.querySelector(".valor-unitario").textContent.trim();

              // Función para convertir texto con comas a número
              function convertirANumero(texto) {
                  // Eliminar el símbolo de moneda ($) si está presente
                  texto = texto.replace("$", "").trim();
                  // Reemplazar comas por puntos para el formato decimal
                  texto = texto.replace(",", ".");
                  // Convertir a número
                  return parseFloat(texto) || 0;
              }

              // Convertir los valores a números
              let valorTotal = convertirANumero(valorTotalText);
              let valorUnitario = convertirANumero(valorUnitarioText);

              // Calcular la cantidad
              let cantidad = valorUnitario !== 0 ? Math.floor(valorTotal / valorUnitario) : 0;

              // Función para formatear los valores con $ y coma decimal
              function formatoMoneda(valor) {
                  return `$${valor.toLocaleString("es-ES", { minimumFractionDigits: 2, maximumFractionDigits: 2 })}`;
              }

              // Aplicar formato a los valores en el modal
              modal.querySelector(".valor-unitario-modal").textContent = formatoMoneda(valorUnitario);
              modal.querySelector(".valor-total-modal").textContent = formatoMoneda(valorTotal);
              modal.querySelector(".cantidad-modal").textContent = cantidad;

              // Mostrar el modal
              modal.style.display = "block";
          });
      });
  });
</script>

{% endblock %}
