{% extends 'base/base_adminlte.html' %}
{% load static %}

{% block title %} Egresos {% endblock %}

{% block extra_head %}
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
{% endblock %}

{% block content %}
<h1>Egresos</h1>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Tercero</th>
            <th>Valor</th>
            <th>Creado Por</th>
            <th>Método de Pago</th>
            <th>Cuenta por Pagar</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        {% for egreso in egresos %}
        <tr>
            <td>{{ egreso.fecha }}</td>
            <td>{{ egreso.tercero.nombre }}</td>
            <td>{{ egreso.valor }}</td>
            <td>{{ egreso.creado_por.username }}</td>
            <td>{{ egreso.metodo_de_pago|capfirst }}</td>
            <td>{{ egreso.cuenta_por_pagar }}</td>
            <td>
                <!-- Ícono de eliminar (caneca de basura) -->
                <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal{{ egreso.id }}">
                    <i class="fi fi-rs-trash-can-slash"></i> <!-- Caneca de basura -->
                </a>
            </td>
        </tr>

        <div class="modal" id="deleteModal{{ egreso.id }}" style="display: none;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Confirmar Eliminación</h5>
                    <button type="button" class="close" data-bs-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar el egreso?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-cancel" style="background-color: #ccc;">Cancelar</button>
                    <form action="{% url 'delete_egreso' egreso.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn-delete" style="background-color: #f00; color: white;">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>

        {% empty %}
        <tr>
            <td colspan="6" class="text-center">No hay egresos registrados.</td>
        </tr>

        {% endfor %}
        </tbody>
    </table>

<script>
    document.querySelectorAll('[data-bs-toggle="modal"]').forEach(item => {
        item.addEventListener('click', event => {
            const targetModal = document.querySelector(item.getAttribute('data-bs-target'));
            targetModal.style.display = 'block';
        });
    });

    document.querySelectorAll('.close').forEach(item => {
        item.addEventListener('click', event => {
            const modal = item.closest('.modal');
            modal.style.display = 'none';
        });
    });

    // Cerrar el modal al hacer clic fuera de él
    window.onclick = function(event) {
        if (event.target.classList.contains('modal')) {
            event.target.style.display = 'none';
        }
    }
</script>

{% endblock %}